html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  letter-spacing: .05em;
  color: #171717;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}

/*-------header-------*/
.header {
  width: 100%;
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s;
  color: #fff;
}
.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}
.header-title {
  font-size: 2.6rem;
}
.nav-list {
  display: flex;
}
.nav-item a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  transition: ;
}
.nav-item a:hover {
  opacity: .7;
  transition: .3s;
}