html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  letter-spacing: .05em;
  color: #171717;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}

/*-------header-------*/
.header{
  
}