html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  letter-spacing: .05em;
  color: #171717;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}
ul {
  text-decoration: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: bottom;
}
/*-------共通-------*/
.section-wrapper {
  padding: 100px 0 100px;
  margin-bottom: 50px;
}
.section-title{
  max-width: 1000px;
  color: #333;
  font-size: 6rem;
  margin: 0 auto 80px;
  padding: 0 30px;
  text-align: center;
}
.section-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}


/*-------header-------*/
.header {
  width: 100%;
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s;
  color: #fff;
  box-sizing: border-box;
}
.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.header-title {
  font-size: 2.6rem;
}
.nav-list {
  display: flex;
}
.nav-item a {
  display: block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}
.nav-item {
  margin-right: 30px;
}
.nav-item:last-of-type {
  margin-right: 0;
}
.nav-item a:hover {
  opacity: .7;
  transition: .3s;
  text-decoration: 3px underline;
}
#burger-btn {
  display: none;
}

/*-------fv-------*/
.fv {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-image: url(../img/fv-top.jpg);
  background-size: cover;
  background-position: center;
  /* position: relative; */
}
.main-copy {
  position: absolute;
  bottom: 19%;
  left: 8.3%;
  color: #fff;
  font-weight: bold;
}
.main-title{
  font-size: 10vw;
  text-align: center;
}

.about{
  display: flex;
  justify-content: space-between;
}
.about-img-wrapper {
  max-width: 400px;
  margin-right: 20px;
}
.ab-img {
  width: 100%;
}
.about-text {
  max-width: 500px;
  margin-bottom: 30px;
  line-height: 1.8;
  font-weight: bold;
}

/*-------skil-------*/
.content {
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.chart {
  max-width: 1000px;
  margin: 0 auto;
}
.chart .row {
  position: relative;
  height: 100px;
  margin-bottom: 25px;
}
.chart .row span {
  color: #000;
  font-size: 1.8rem;
}
.chart .row span.label {
  position: absolute;
  top: 35px;
  left: 3%;
  padding-left: 10px;
  text-align: left;
  line-height: 30px;
  z-index: 10;
}
.chart .row .bar-wrap {
  position: relative;
  background: #36297c;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
}
.chart .row .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ebe26a;
  transition: all 1s;
  transform: translateX(-100%);
}
.chart .row .bar-wrap .bar.no {
  transform: translateX(0%);
}
.chart .row span.number {
  position: absolute;
  top: 35px;
  right: 3%;
  width: 40px;
  padding-right: 10px;
  text-align: right;
  line-height: 28px;
  z-index: 10;
  color: #fff;
}

/*-------work-------*/
.work-list {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.work-item {
  width: 32%;
}
.work-item a {
  color: #333;
}
.work-text {
  padding: 25px 20px;
}

/*-------contact-------*/
.contact-list {
  max-width: 700px;
  margin: 0 auto 30px;
  padding: 0 50px;
}
.contact-item {
  margin-bottom: 5px;
}
.contact-item:last-of-type {
  margin-bottom: 0;
}
.contact-label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 8px;
}
input,textarea {
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 3px solid #333;
  width: 100%;
  color: #333;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
}
.input-text {
  padding: 0 8px;
  line-height: 35px;
}
.input-text:focus {
  background-color: #eaf6fd;
}
textarea {
  height: 100px;
  padding: 0 8px;
  line-height: 30px;
}
textarea:focus {
  background-color: #eaf6fd;
}
.contact-btn {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.submit-btn {
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 0 auto;
  background-color: #F7D43F;
  box-shadow: 0 0 6px #1B1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  transition: .3s;
  border: none;
  font-size: 20px;
}
.submit-btn:hover {
  opacity: .7;
  transition: .3s;
  cursor: pointer;
}

/*-------footer-------*/
.footer {
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: cadetblue;
}

/*-------media-------*/
@media screen and (min-width: 1000px) {
  .chart .row {
    margin-bottom: 30px;
  }
  .chart .row span {
    color: #000;
    font-size: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .chart .row {
    margin-bottom: 30px;
  }
  .chart .row span {
    color: #000;
    font-size: 3vw;
  }
}

@media screen and (max-width:768px) {
  /*-------- base_sp -------*/
  .section-wrapper {
    padding: 100px 0 40px;
    margin-bottom: 0;
  }
  .section-title {
    padding: 0 4vw;
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .section-title:after {
    width: 90px;
  }
  .section-inner {
    padding: 0 4vw;
  }

  /*-------- header -------*/
  .header-nav {
    position: fixed;
    top: -110%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* 上からスライド */
    transition: top 0.5s;
  }
  .nav-list {
    display: block;
  }
  .nav-item {
    margin-bottom: 20px;
  }
  #burger-btn .bar {
    display: block;
    background-color: #fff;
    width: 30px;
    height: 3px;
    transition: .3s;
  }
  .bar_top,
  .bar_mid {
    margin-bottom: 8px;
  }

  #burger-btn.cross .bar_top {
    transform: rotate(45deg) translate(8px,8px);
    transition: .3s;
  }
#burger-btn.cross .bar_mid {
  opacity: 0;
  transition: .3s;
}
#burger-btn.cross .bar_bottom {
  transform: rotate(-45deg) translate(8px,-8px);
  transition: .3s;
}
body.noscroll {
  overflow: hidden;
}

/* ナビゲーションボタン（開く） */
#burger-btn{
  display: block;
  top: 15px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.open .header-nav{
  top: 0;
}
.open #burger-btn{
  z-index: 100;
}

/*-------- fv -------*/
.fv {
  height: 70vh;
}
.main-copy {
  top: 50%;
  left: 40%;
  transform: translate(-60%,-50%);
}
.main-title {
  font-size: 11vw;
  white-space: nowrap;
}

/*-------- about -------*/
.about {
  display: block;
}
.about-img-wrapper {
  max-width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
}
.about-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 4vw;
}

/*-------- work -------*/
.work-list {
  display: block;
  padding: 0 4vw;
}
.work-item {
  width: 500px;
  max-width: 100%;
  margin: 0 auto 20px;
}
.work-item:last-of-type {
  margin-bottom: 0;
}

/*-------- contact -------*/
input,textarea {
  font-size: 3.2vw;
}
.submit-btn {
  display: block;
  width: 35%;
  line-height: 60px;
  font-size: 1.6rem;
}

}